@model IEnumerable<CampManagement.Domain.Entities.Registration>

@{
    ViewBag.Title = DateTime.Now.Year + " Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12" style="padding-bottom: 10px">
    <div class="row">
        <div class="form-group">
            <a href="@Url.Action("Create")" class="btn btn-success pull-right"><i class="fa fa-sitemap"></i>&nbsp;New Registration</a>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="row">
        <section class="panel">
            <header class="panel-heading font-bold">List of Registrations</header>
            <div class="table-responsive">
                <table class="table table-striped" data-ride="datatables" id="mytable">
                    <thead>
                    <tr>
                        <th>#</th>
                        @if (Request["campId"] == "0" || Request["campId"] == null)
                        {
                            <th>Name</th>
                        }
                        <th>Camper</th>                        
                        <th>Guardian</th>
                        @if (!Request.Browser.IsMobileDevice)
                        {
                            <th>Email</th>
                            <th>Phone</th>
                        }
                        <th>Total</th>
                        <th>Balance</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </section>
    </div>
</div>

@section scripts {
    <link href="@Url.Content("~/lib/datatables/datatables.css")" rel="stylesheet"/>
    <script src="@Url.Content("~/lib/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/lib/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/js/clipboard.min.js")"></script>
    
    <script language="javascript">
        function format2(n, currency) {
            return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
        }

        function getCssClass(row) {
            return row.Cancelled ? "regcancelled" : "";
        }

        var clip = new Clipboard('#mytable tbody input,select[data-clipboard-text]');
        clip.on('success',
            function (e) {
                $(e.trigger).fadeOut().fadeIn();
            });

        var oTable = null;
        $('[data-ride="datatables"]')
            .each(function () {
                oTable = $(this)
                    .dataTable({
                        "responsive": true,
                        "paging": false,
                        "bProcessing": true,
                        @if (Request["campId"] == "0" || Request["campId"] == null)
                        {
                            <text>
                        "order": [[1, "desc"], [0, "asc"]],
                        </text>
                        }
                        else
                        {
                            <text>
                            "order": [[0, "asc"]],
                            </text>
                        }
                        "sAjaxSource": '@Url.Action("ThisYearRegistrations", "Registrations")?campId=@(Request["campId"] == null ? "0" : Request["campId"])',
                        "sAjaxDataProp": "",
                        "sDom": "<'row'<'col-xs-4'<'#dt_camps.dataTables_length'>><'col-xs-4'<'#rFilters.dataTables_length'>><'col-xs-4'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        "sPaginationType": "full_numbers",
                        "aoColumns": [
                            {
                                "mData": "RegistrationId",
                                "class": "details-control",
                                "width": "55px",
                                "render": function (data, type, row) {
                                    return "<span><i style='display:inline' class='fa fa-plus-square' id='reg" + row.RowNumber + "'></i>&nbsp;R" + row.RegistrationId + "</span>";
                                }
                            },
                            @if (Request["campId"] == "0" || Request["campId"] == null)
                            {
                                <text>
                                    { "mData": "Name" },
                                </text>
                            }
                        { "mData": "CamperName" },
                            { "mData": "GuardianName" },
                            @if (!Request.Browser.IsMobileDevice)
                            {
                                <text>
                                    {
                                        "mData": "Email",
                                        "sorting": false,
                                        "render": function (data, type, row) {
                                            if (row.EmailConfirmed === true) {
                                                return "<span>" +
                                                    row.Email +
                                                    "&nbsp;<i style='color:green' class='fa fa-check-circle'></i></span>";
                                            }
                                            return "<span>" +
                                                row.Email +
                                                "&nbsp;<i data-guardianid='" + row.GuardianId + "' style='color:red' class='fa fa-exclamation-circle' title='Email not confirmed'></i></span>";
                                        }
                                    },
                                    {
                                        "mData": "Phone",
                                        "sorting": false,
                                        "render": function (data, type, row) {
                                            return formatPhoneNumber(row.Phone);
                                        }
                                    },
                                </text>
                            }
                        {
                            "mData": "Price",
                            "className": "dt-center",
                            "render": function (data, type, row) {
                                if (row.Cancelled) return "-";
                                return format2(row.Price + (row.TotalActivities == null ? 0 : row.TotalActivities), '$');
                            }
                        },
                            {
                                "mData": "TotalRegistration",
                                "className": "dt-center",
                                "render": function (data, type, row) {
                                    if (row.CompletedDate == null) return "<span title='Not yet finished' style='cursor: help; color:red'><i class='fa fa-exclamation'></i>&nbsp;N/F</span>";
                                    if (row.Cancelled) return "-";
                                    if (row.TotalRegistration - row.TotalPayments > 0)
                                        return "<a class='balance' href='@Url.Action("Manage", "Payments")/" +
                                            row.RegistrationId +
                                            "'>" +
                                            format2(row.TotalRegistration - row.TotalPayments, '$') +
                                            "</a>";
                                    return "Paid";
                                }
                            },
                            {
                                "mData": "RegistrationId",
                                "sorting": false,
                                "render": function (data, type, row) {
                                    return "<a href='@Url.Action("Index", "Registrations", new {id = ""})/Index/" +
                                        row.RegistrationId +
                                        "' class='btn btn-info btn-sm btn-rounded'>Edit</a>";
                                }
                            }
                        ],
                        "createdRow": function (row, data, dataIndex) {

                            if (data.Cancelled) {
                                // Add a class to the row
                                $(row).children().addClass('text-danger');
                            }
                        }
                    });

                // Array to track the ids of the details displayed rows
                var detailRows = [];

                $('#mytable tbody')
                    .on('click',
                        'tr td.details-control',
                        function () {
                            var tr = $(this).closest('tr');
                            var row = oTable.api().row(tr);
                            var idx = $.inArray(tr.attr('id'), detailRows);

                            if (row.child.isShown()) {
                                tr.removeClass('details');
                                $("#reg" + row.data().RowNumber).removeClass("fa-minus-square-o").addClass("fa-plus-square");
                                row.child.hide();

                                // Remove from the 'open' array
                                detailRows.splice(idx, 1);
                            }
                            else {
                                tr.addClass('details');
                                $.get("@Url.Action("Details", "Registrations")/" + row.data().RegistrationId + "?camperId=" + row.data().CamperId,
                                    function (data) {
                                        $("#reg" + row.data().RowNumber).removeClass("fa-plus-square").addClass("fa-minus-square-o");
                                        row.child(data).show();
                                    });

                                // Add to the 'open' array
                                if (idx === -1) {
                                    detailRows.push(tr.attr('id'));
                                }
                            }
                        });

                // On each draw, loop over the `detailRows` array and show any child rows
                oTable.on('draw',
                    function () {
                        $.each(detailRows,
                            function (i, id) {
                                $('#' + id + ' td.details-control').trigger('click');
                            });
                    });
            });

        $("#rFilters")
            .css("text-align", "center")
            .html("<select class='form-control'><option>- Filters -</option><option value='1'>Not Finalized</option><option value='2'>Cancelled not finished</option><option value='3'>Confirmed</option></select>")
            .find("select")
            .css("width", "initial");


        $("#dt_camps")
            .css("text-align", "center")
            .html("<form action='@Url.Action("Index")' id='frmRegistrations'><label><select class='form-control' name='campId' style='width:100%' id='camps'><option value='0'>All</option></select></label></form>");

        $.ajax({
            url: "@Url.Action("GetThisYearSetups", "CampSetups")",
            method: "GET",
            cache: false,
            success: function (data) {
                $(data)
                    .each(function (i, camp) {
                        $("#camps")
                            .append("<option value='" +
                                camp.CampId +
                                "' " +
                                (camp.CampId == '@(Request["campId"])'
                                    ? "selected"
                                    : "") +
                                ">" +
                                camp.Name +
                                "</camp>");
                    });


            }
        });

        $("#camps")
            .on("change",
                function () {
                    $("#frmRegistrations").submit();
                });
    </script>
}