@model CampManagement.Domain.Identity.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NEW LIFE | Camp Management | Login</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/font.css")" type="text/css" cache="false" />
    <link rel="stylesheet" href="@Url.Content("~/css/plugin.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/app.css")" type="text/css" />
</head>
<body>
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <a class="nav-brand" href="#">NEW LIFE | Camp Management</a>
        <div class="row m-n">
            <div class="col-md-4 col-md-offset-4 m-t-lg">
                <section class="panel">
                    <header class="panel-heading text-center">
                        Sign in
                    </header>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "panel-body", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) Keep me logged in
                            </label>
                        </div>
                        <button type="submit" class="btn btn-info">Sign in</button>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "pull-right m-t-xs" })
                    }
                </section>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>All Rights Reserved<br>&copy; 2016</small>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
    <!-- app -->
    <script src="@Url.Content("~/js/app.js")"></script>
    <script src="@Url.Content("~/js/app.plugin.js")"></script>
    <script src="@Url.Content("~/js/app.data.js")"></script>
</body>
</html>